.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* Common */

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;

    padding: 0 15px;
  }
}

/* Header */

.header-box .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-nav,
.address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.span {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.hidden-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.hidden-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .hidden-button {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .menu-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .address {
    font-size: 16px;
    font-style: normal;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding-left: 0;
    display: block;
  }

  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    margin-right: 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: none;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 0;

    display: block;
    padding: 24px 0;
  }

  .link:focus,
  .link:hover,
  .address-link:hover,
  .address-link:focus,
  .current {
    color: #404bbf;
  }

  .link::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    font-weight: 500;
    font-size: 16px;

    line-height: 150%;
    letter-spacing: 0.02em;

    color: #404bbf;
    content: "";
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current:after {
    content: "";
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .address-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 0;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #e7e9fc;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-ul,
.menu-link,
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  color: #404bbf;
}

.mobile-menu-icon {
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  background-color: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-address-item {
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.menu-address-link.current {
  color: #4d5ae5;
}

.menu-address-link:hover {
  color: #4d5ae5;
}

.menu-social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.menu-social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-media-list-link:focus,
.menu-social-media-list-link:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* Section 1 */

.button-section {
  display: block;
  max-width: 320px;

  background-color: rgba(46, 47, 66, 0.7);
  box-sizing: border-box;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.button-section-heading {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  margin: 0 auto;

  width: 216px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  padding: 16px 32px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .button-section {
    max-width: 768px;
    background-color: #2e2f42;

    padding: 112px 0;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tab-back.png");
  }

  .button-section-heading {
    width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }

  .button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .button-section {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/back.jpg");
  }
}

/* Section 2 */

.benefits-container {
  display: none;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-ul {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.main-list-ul {
}

.main-list-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main-list {
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;

  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .main-ul {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .main-list-ul {
    width: calc((100% - 24px) / 2);
  }

  .main-list-heading {
    text-align: left;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }

  .main-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-ul {
    display: flex;
    gap: 24px;
  }

  .main-list-ul {
    width: calc((100% - 72px) / 4);
  }

  .benefits-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background: #f4f4fd;
  }
}

/* Section 3 */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
  padding: 96px 0;
}

.team-container {
  width: 320px;
  padding: 0 28px;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-pic {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-heading-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-heading {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.team-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-icon {
  fill: #ffffff;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-list-item:focus {
  background-color: #404bbf;
}

.team-icons {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons:hover,
.team-icons:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-section {
    background-color: #f4f4fd;
  }

  .team-container {
    width: 768px;
    padding: 0 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 64px;
  }

  .team-pic {
    background-color: #fff;
    width: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
  }

  .team-container {
    min-width: 1158px;
    padding: 0 15px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .team-pic {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* Section 4 */

.portfolio {
  background-color: #fff;
  padding: 96px 0;
}

.portfolio-container {
  min-width: 320px;
}

.portfolio-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  row-gap: 72px;
}

.card:hover .card-para,
.card:focus .card-para {
  transform: translateY(0);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.card-div {
  position: relative;
  overflow: hidden;
}

.card-para {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio-item {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-heading {
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: auto;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    background-color: #fff;
    padding: 96px 0;
  }

  .portfolio-container {
    min-width: 768px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    background-color: #fff;
    padding: 120px 0;
  }

  .portfolio-container {
    min-width: 1158px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 72px;
}

.footer-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-description {
  max-width: 288px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media-footer {
  align-items: center;
}

.social-media-para {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-media-footer-list {
  display: flex;
  gap: 16px;
}

.footer-li {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #31d0aa;
}

.footer-link:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-para {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.subscribe-input {
  width: 268px;
  height: 40px;
  padding: 8px 0px 8px 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff;

  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-input:placeholder-shown {
  border-color: #ffffff;
}

.subscribe-button {
  width: 165px;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    min-width: 768px;

    justify-content: flex-start;
    text-align: start;
    column-gap: 24px;
    padding-left: 108px;
  }

  .social-media-footer {
    flex-direction: row;
    gap: 24px;
  }
  .footer-description {
    max-width: 264px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .social-media-para {
    text-align: left;
    margin-top: 0;
  }

  .subscribe-container {
    display: inline-block;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    max-width: 1440px;

    align-items: baseline;
    gap: 24px;
    padding-left: 15px;
  }

  .second-container {
    margin-right: 120px;
  }

  .subscribe-container {
    margin-left: auto;
  }
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;

  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.close-button:hover,
.close-button:focus {
  fill: #ffffff;

  background-color: #404bbf;

  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paragraph-modal {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.name-container {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 256px;
  height: 40px;
}

.input-email:hover,
.input-email:focus-within {
  border-color: #4d5ae5;
}

.input-container:hover,
.input-container:focus-within {
  fill: #4d5ae5;
}

.input-container svg {
  top: 50%;
  left: 16px;

  fill: #2e2f42;

  position: absolute;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container:hover .modal-icon,
.input-container:focus-within .modal-icon {
  fill: #4d5ae5;
}

.input-email {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-container-comment {
  margin-bottom: 16px;
}

.conditions-container {
  margin-bottom: 24px;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

input:checked + .privacy-label .span-privacy-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.input-comment-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment-form:focus,
.input-comment-form:hover {
  border-color: #4d5ae5;
}
.span-privacy-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .conditions-container {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1158px) {
}
